<div class="out-container d-flex ">
    <div class="sidebar">
        <div class="row">
            <div class="side-item">
                <a (click)="setSection('server')">
                    <div class="side-item-container" [ngClass]="{'server-side-item': api.section == 'server'}">
                        <i class="fa fa-server"></i>
                        <span class="side-item-title">Servidor</span>
                    </div>
                    <br>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="side-item">
                <a (click)="setSection('channels')">
                    <div class="side-item-container" [ngClass]="{'server-side-item': api.section == 'channels'}">
                        <i class="fa fa-cubes"></i>
                        <span class="side-item-title">Canais</span>
                    </div>
                </a>
            </div>
        </div>
        <div *ngFor="let channel of api.userChannels" class="row">
            <div class="side-item">
                <a (click)="setSection(channel.name)">
                    <div class="side-item-container" [ngClass]="{'server-side-item': api.section == channel.name}" style="padding: 0 20px">
                        <i class="fa fa-cube"></i>
                        <span class="side-item-title ellipsis">{{ channel.name }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="api.section == 'server'" class="chat-container">
        <br>
        <div class="row">
            <div class="col 4 offset-s1">
                <span class="title">Servidor</span>
            </div>
            <br>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col 4 offset-s1">
                <span class="header">{{ api.motd }}</span>
            </div>
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col 4 offset-s1">
                <span class="subtitle">INFORMAÇÕES</span>
            </div>
        </div>
        <br>
        <div class="row">
            <form class="col s10 offset-s1 card" style="padding-top: 1rem; padding-bottom: 1rem">
                <div class="input-field col s3 align-self-center text-center">
                    <span>Nickname</span>
                    <input disabled value="{{ api.nickname }}" id="inickname" type="text" class="validate">
                    <!-- <label for="inickname">Nickname</label> -->
                </div>
                <div class="input-field col s3">
                    <span>Servidor</span>
                    <input disabled value="{{ api.server }}" id="iserver" type="text" class="validate">
                    <!-- <label for="iserver">Servidor</label> -->
                </div>
                <div class="input-field col s6 right-align" (click)="disconnect()">
                    <a class="waves-light btn red">SAIR</a>
                </div>
            </form>
        </div>

        <br>
        <div class="row">
            <form class="col s10 offset-s1 card" style="padding-top: 1rem; padding-bottom: 1rem">
                <div class="input-field col s4 left-align" (click)="list()">
                    <a class="waves-light btn green">LISTAR CANAIS</a>
                </div>
                <div *ngIf="!api.listingChannels" class="col 4 offset-s1">
                    <span class="subtitle">{{ api.listingChannels ? 'LISTANDO TODOS CANAIS...' : 'TODOS CANAIS (' + api.channels.length + ')' }}</span>
                </div>
            </form>
        </div>
        <br>
        <div #divchannels *ngIf="!api.listingChannels" class="row">
            <div class="col s10 offset-s1 channels-table card">
                <table class="highlight">
                    <thead>
                        <td>
                            Nome do canal
                        </td>
                        <td>
                            Nº de usuários
                        </td>
                        <td>
                            Tópico
                        </td>
                    </thead>
                    <tr *ngFor="let channel of api.channelsOnPage">
                        <td>
                            {{ channel.name }}
                        </td>
                        <td>
                            {{ channel.users }}
                        </td>
                        <td>
                            {{ channel.topic }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div *ngIf="!api.listingChannels" class="row" style="padding-bottom: 40px !important;">
            <div class="col s10 offset-s1 center-align">
                <ul class="pagination">
                    <li [ngClass]="{'disabled': !api.hasPreviousChannelsPage}" (click)="previousChannelsPage()">
                        <a>
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    <li [ngClass]="{'disabled': !api.hasNextChannelsPage}" (click)="nextChannelsPage()">
                        <a>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="api.listingChannels" class="row">
            <div class="input-field col s6 offset-s3 align-self-center text-center" style="display: flex; justify-content: center;">
                <div class="preloader-wrapper active">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="api.section == 'channels'" class="chat-container">
        <br>
        <div class="row">
            <div class="col 4 offset-s1">
                <span class="title">Canais</span>
            </div>
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col 4 offset-s1">
                <span class="subtitle">NOVO CANAL</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col s10 offset-s1 card" style="padding-top: 1rem; padding-bottom: 1rem">
                <div class="input-field col s6 align-self-center text-center">
                    <span>Nome do canal</span>
                    <input [(ngModel)]="newChannel" type="text" class="validate">
                    <!-- <label for="ichannel">Nome do canal</label> -->
                </div>
                <div class="input-field col s6 right-align" (click)="joinChannel()">
                    <a class="waves-light btn green">ENTRAR</a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col 4 offset-s1">
                <span class="subtitle">CANAIS ATIVOS</span>
            </div>
        </div>
        <br>
        <div *ngIf="api.userChannels.length > 0" class="row">
            <div class="col s10 offset-s1 channels-table card">
                <table class="highlight">
                    <thead>
                        <td>
                            Nome do canal
                        </td>
                        <td>
                            Nº de usuários
                        </td>
                    </thead>
                    <tr *ngFor="let channel of api.userChannels">
                        <td>
                            {{ channel.name }}
                        </td>
                        <td>
                            {{ channel.nicks.length }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div *ngIf="api.userChannels.length == 0" class="row" style="padding-top: 10px;">
            <div class="col 4 offset-s1">
                <span class="header">Você ainda não entrou em nenhum canal.</span>
            </div>
            <br>
        </div>
        <br>
    </div>
    <div *ngIf="api.section != 'server' && api.section != 'channels'">
        <div class="chat-container">
            <br>
            <div class="row">
                <div class="col s10 offset-s1" style="padding: 0;">
                    <div class="col s8 align-self-center text-center">
                        <span class="title">Canal {{ api.activeChannel.name }}</span>
                    </div>
                    <div class="col s4 right-align" (click)="partChannel()">
                        <a class="waves-light btn red">SAIR</a>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="row">
                <div class="col 4 offset-s1">
                    <span class="subtitle">USUÁRIOS</span>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col 4 offset-s1">
                    <span class="header">{{ api.activeChannel.nicks.join(', ') }}</span>
                </div>
                <br>
            </div>
            <br>
            <div class="row">
                <div class="col 4 offset-s1">
                    <span class="subtitle">MENSAGENS</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col s10 offset-s1 channels-table card" style="padding: 20px; height: 300px; overflow: scroll;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                    <h6 *ngFor="let message of api.activeChannel.messages" style="padding: 10px 10px" [innerHtml]="message"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1 card" style="padding: 10px 20px">
                    <div class="input-field col s8 align-self-center text-center">
                        <input [(ngModel)]="message" type="text" placeholder="Digite sua mensagem..." class="validate">
                    </div>
                    <div class="input-field col s4 right-align" (click)="sendMessage()">
                        <a class="waves-light btn indigo">ENVIAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>