.server-side-item {
    background-color: #1A237E !important;
    white-space: nowrap;
    overflow: hidden;         /* <- this does seem to be required */
    text-overflow: ellipsis;
}

.channels-table {
    overflow-x: auto;
    white-space: nowrap;
}

table {
    table-layout: fixed;
}
  
td {
    white-space: nowrap;
    overflow: hidden;         /* <- this does seem to be required */
    text-overflow: ellipsis;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;         /* <- this does seem to be required */
    text-overflow: ellipsis;
}